{% extends 'base.html' %}
{% load static %}
{% load some_math %}

{% block content %}
{% with wybor.uprawniony_set.all as voters %}
{% with wybor.oddany_glos_set.all as votes %}

{% if voters|first is None %}
<div class="row">
    <div class="col-lg-6">
        <h2>No voters are authorized.</h2>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-6">
    <h2>Lista uprawnionych:</h2> 
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        {% for x in voters %}
        <div class="row">
            <div class="col-lg-12">
                    <h4>{{x.osoba.first_name}} {{x.osoba.last_name}}</h4>
            </div>
        </div>
        {% endfor %}
    </div>
</div>    
<div class="row">
        <div class="col-lg-6">
        <h2>Lista oddanych głosow:</h2> 
        </div>
</div>
<div class="row">
        <div class="col-lg-6">
            {% for y in votes %}
            <div class="row">
                <div class="col-lg-12">
                        <h4>{{y.author.first_name}} {{y.author.last_name}}</h4>
                </div>
            </div>
            {% endfor %}
    </div>
</div> 


<!-- <li>Frekwencja: {{ votes.count|mul:100|div:voters.count }}%</li> -->
{% endif %}
{% endwith %}
{% endwith %}


{% endblock %}