{% extends 'base.html' %}

{% block content %}
<h1>{{ wybor.nazwa }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul>
{% for choice in wybor.kandydat_set.all %}
	<li>{{ choice.wybor.nazwa }}</li>
	<li>{{ choice.osoba.imie }}</li>
	<li>{{ choice.osoba.nazwisko }}</li>
	<li>{{ choice.osoba.pesel }}</li>
	<br />
{% endfor %}
</ul>

<form action="{% url 'polls:vote' wybor.id %}" method="post">
{% csrf_token %}
{% for adres in wybor.kandydat_set.all %}
    <input type="radio" name="id" id="adres{{ forloop.counter }}" 
	value="{{ adres.id }}" />
    <label for="adres{{ forloop.counter }}">{{ adres.osoba.nazwisko }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
{% endblock %}