<h1>{{ kraj.nazwa }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul>
{% for choice in kraj.adres_zamieszkania_set.all %}
	<li>{{ choice.ulica }}</li>
	<li>{{ choice.numerBudynku }}</li>
	{% if choice.numerLokalu == NULL %}
		<li>Blank</li>
	{% else %}
		<li>{{ choice.numerLokalu }}</li>
	{% endif %}	
	<li>{{ choice.kodPocztowy }}</li>
	<li>{{ choice.miejscowosc }}</li>
	<br />
{% endfor %}
</ul>

<form action="{% url 'polls:vote' adres_zamieszkania.idAdresZamieszkania %}" method="post">
{% csrf_token %}
{% for adres in kraj.adres_zamieszkania_set.all %}
    <input type="radio" name="adres" id="adres{{ forloop.counter }}" value="{{ adres.id }}" />
    <label for="adres{{ forloop.counter }}">{{ adres.ulica }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>