{% extends 'base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if latest_wybor_list %}
	<ul>
	{% for wybor in latest_wybor_list %}
		{% if wybor.status == 0 %}
			<li><a href="{% url 'polls:detail' wybor.id %}">{{ wybor.nazwa }}</a>
			</li>
		{% else %}
			<li><a href="{% url 'polls:results' wybor.id %}">{{ wybor.nazwa }}</a>
			</li>
		{% endif %}
	{% endfor %}
	</ul>
{% else %}
	<p>No polls are avaliable.</p>
{% endif %}
{% endblock %}