<!DOCTYPE html>
<html>

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
	{# Load the tag library #} 
	{% load bootstrap3 %} {# Load CSS and JavaScript #} 
	{% bootstrap_css %}
	{% bootstrap_javascript %} {# Display django.contrib.messages as Bootstrap alerts #} 
	{% bootstrap_messages %}

	<title>{% block title %}Place holder texta{% endblock %}</title>
</head>

<body>
	<table>
		{% if user.is_authenticated %}
		<!--User ir logged in-->
		<tr>
			<td>You are logged in as
				<b>{{ request.user.username }}</b>
			</td>
		</tr>
		<tr>
			<td>
				<a href="{% url 'index' %}">Go to index page</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="{% url 'logout' %}">You can log out here</a>
			</td>
		</tr>
		{% else %}
		<!--User is not logged in-->
		<tr>
			<td>You are not logged in</td>
		</tr>
		<tr>
			<td>
				<a href="{% url 'login' %}">You can log in here</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="{% url 'signup' %}">You can register here</a>
			</td>
		</tr>
		{% endif %}
	</table>
	<hr>
	</table>
	{% block content %} {% endblock %}
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
	 crossorigin="anonymous"></script>
</body>

</html>